<div class="maincontent">
  <script src="https://www.youtube.com/iframe_api"></script>
  <input type="hidden" id="playlistid" value="<%=playlist.id%>"/>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <center><h2 id="title"></h2></center>
      <div id="loading">Loading ...</div>
      <img class="cassette_stopped" src="/images/stopped_cassette.gif"/>
      <img class="cassette_animated" src="/images/animated_cassette.gif"/>
      <center>
	<button type="button" id="last" class="btn btn-default btn-lg">
	  <span class="glyphicon glyphicon-fast-backward"></span>
	</button>
	<button type="button" id="play" class="btn btn-default btn-lg">
	  <span class="glyphicon glyphicon-play"></span>
	</button>
	<button type="button" id="next" class="btn btn-default btn-lg">
	  <span class="glyphicon glyphicon-fast-forward"></span>
	</button>
	<p>
	  Share: <input type="text" value="http://tapedeck.radiofreeinternet.com/play/<%=playlist.id%>">
	</p>
	<% if(req.session.user == playlist.user_id && typeof(req.session.user) != "undefined" ) {%>
	<p>
	  <a href="/playlist/edit/<%=playlist.id%>">Edit playlist</a> <a href="/playlist/delete/<%=playlist.id%>">Delete playlist</a>
	</p>
	<% } %>
      </center>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <h2>Featuring</h2>
      <div id="playlistinfo"></div>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <h3>Check out other playlists</h3>
      <div id="playlists"></div>
      <h3>Or you can</h3>
      <a href="/playlist/new">Create a new Playlist</a>
    </div>
  </div>
</div>
<div id="player"></div>
