<div class="row">
  <form method="post" action="player/savePlaylist">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
	<div class="col-md-6 col-md-offset-1">
	  <input name="name" type="text" class="form-control" placeholder="Playlist name">
	</div>	
      </div>
      <% for(var i = 0; 8>=i; i++) { %>
      <div class="row">
	<div class="col-md-1">#<%=i+1%></div>
	<div class="col-md-3">
	  <input name="link[<%=i%>]" type="text" class="form-control" placeholder="Youtube link">
	</div>
	<div class="col-md-3">
	  <input name="artist[<%=i%>]" type="text" class="form-control" placeholder="Artist">
	</div>
	<div class="col-md-3">
	  <input name="title[<%=i%>]" type="text" class="form-control" placeholder="Song title">
	</div>
      </div>    
      <% }%>
      <input type="submit" value="Save Playlist">
    </div>
  </form>
</div>
